*.iml
.idea
.vscode
target/
*.log
*.db
buildNumber.properties
git.properties
atlassian-ide-plugin.xml
**/**/bower_components
**/**/node_modules
.tmp
coverage/
.sass-cache
src/**/*.css
src/**/*.map
local-server-config.js
.DS_Store
release/